* {
    font-family: 'Courier New', Courier, monospace;
    color: #c4c9f6;
    text-align: center;
    scroll-behavior: smooth;
    background-color: black;
    }

.centercontent, ol, button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 110%;
}

.largerfont {
    font-size: 200%;
}

